
.date-table {
    display: block;
    padding: 10px 20px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(0, 9, 20, 0.7);
    border-radius: 20px;
    border: 3px solid #e5ba8d1b;
    font-size: 1.2em;
}
.date-table tr td, .date-table tr th {
    padding: 15px;
    
}
.date-table th {
    font-size: 1.2em;
    color: #60efe6;
}
.date-table td {
    
}
.date-table {
    border-radius: 20px;
}
.date-table tr {
    /* background-color: rgb(0, 13, 28) */
}
.date-table tr:nth-child(2n + 1) {
    /* background-color: rgb(0, 24, 51) */
}
.date-table td:first-child {
    font-weight: 900;
}